{% extends "page.html" %}

{% block title %}Punchcard{% endblock %}

{% block page_content %}
  <h1>Punchcard</h1>
  <div id="punchcard"><svg></svg></div>
{% endblock %}

{% block script %}
  <script>
    $(document).ready(function() {

        $("#punchcard").addClass("loading");
        $.getJSON("/api/time-of-day", function(data) {
            $("#punchcard").removeClass("loading");
            var chart;
            nv.addGraph(function() {
              chart = nv.models.scatterChart()
                            .showDistX(true)
                            .showDistY(true)
                            .x(function(d) { return d.hour })
                            .y(function(d) { return d.weekday })
                            .showLegend(false);

              chart.xAxis
                  .axisLabel('Time of day')
                  .tickFormat(d3.format('05.2f'))
                  .tickValues([0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23]);
              
              chart.yAxis
                  .tickFormat(function(d) { 
                      var days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
                      return days[d]
                  });

              d3.select('#punchcard svg')
                  .datum(data)
                .transition().duration(500)
                  .call(chart);

              nv.utils.windowResize(chart.update);

              chart.dispatch.on('stateChange', function(e) { nv.log('New State:', JSON.stringify(e)); });

              return chart;
          });
        });

    });

  </script>
{% endblock %}
