{% extends "page.html" %}

{% block title %}Stats{% endblock %}

{% block page_content %}
  <p><em id="basic-stats-message"></em></p>

  <h1>Punchcard</h1>
  <div id="time-of-day"><svg></svg></div>

  <h1>Beer ratings</h1>
  <div id="ratings"><svg></svg></div>

  <h1>ABV vs Rating</h1>
  <div id="abv-vs-rating"><svg></svg></div>

  <h1>Checkins by location</h1>
  <div id="places"><svg></svg></div>

  <h1>Consumption per month</h1>
  <div id="consumption-per-month"><svg></svg></div>
{% endblock %}

{% block script %}
  <script>
    $(document).ready(function() {

        $.getJSON("/api/basic", function(data) {
            $("#basic-stats-message").text(basic_stats_message(data));
        });

        $("#time-of-day").addClass("loading");
        $.getJSON("/api/time-of-day", function(data) {
            $("#time-of-day").removeClass("loading");
            var chart;
            nv.addGraph(function() {
              chart = nv.models.scatterChart()
                            .showDistX(true)
                            .showDistY(true)
                            .x(function(d) { return d.hour })
                            .y(function(d) { return d.weekday })
                            .showLegend(false);

              chart.xAxis
                  .axisLabel('Time of day')
                  .tickFormat(d3.format('05.2f'))
                  .tickValues([0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23]);
              
              chart.yAxis
                  .tickFormat(function(d) { 
                      var days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
                      return days[d]
                  });

              d3.select('#time-of-day svg')
                  .datum(data)
                .transition().duration(500)
                  .call(chart);

              nv.utils.windowResize(chart.update);

              chart.dispatch.on('stateChange', function(e) { nv.log('New State:', JSON.stringify(e)); });

              return chart;
          });
        });

        $("#ratings").addClass("loading");
        $.getJSON("/api/ratings", function(data) {
            $("#ratings").removeClass("loading");
            var chart;
            nv.addGraph(function() {
                chart = nv.models.multiBarChart()
                            .showControls(false)
                            .barColor(d3.scale.category20().range());
                chart.y(function(d) { return d.n });
                chart.x(function(d) { return d.rating });
                chart.xAxis.showMaxMin(false);
                chart.yAxis.tickFormat(d3.format(',.0f'));
                
                chart.xAxis.axisLabel('Rating');
                chart.yAxis.axisLabel('Beers');

                chart.margin({bottom: 40, left: 80});

                d3.select('#ratings svg')
                          .datum(data)
                    .transition().duration(500).call(chart);

                nv.utils.windowResize(chart.update);
                chart.dispatch.on('stateChange', function(e) { nv.log('New State:', JSON.stringify(e)); });

              return chart;
          });
        });

        $("#abv-vs-rating").addClass("loading");
        $.getJSON("/api/abv-vs-rating", function(data) {
          $("#abv-vs-rating").removeClass("loading");
          var chart;
          nv.addGraph(function() {
            chart = nv.models.scatterChart()
                          .showDistX(true)
                          .showDistY(true)
                          //.height(500)
                          .x(function(d) { return d.abv })
                          .y(function(d) { return d.rating })
                          .useVoronoi(true)
                          .showLegend(false)
                          .color(d3.scale.category10().range());

            chart.xAxis.axisLabel('Alcohol by volume (ABV)')
            chart.yAxis.axisLabel('Rating')

            chart.xAxis.tickFormat(d3.format('.01f'))
            chart.yAxis.tickFormat(d3.format('.01f'))

            d3.select('#abv-vs-rating svg')
                .datum(data)
              .transition().duration(500)
                .call(chart);

            nv.utils.windowResize(chart.update);

            chart.dispatch.on('stateChange', function(e) { nv.log('New State:', JSON.stringify(e)); });

            return chart;
          });
        });

        $("#places").addClass("loading");
        $.getJSON("/api/places", function(data) {
            $("#places").removeClass("loading");
            var chartHeight = data[0].values.length * 25;
            $("#places svg").css("height", chartHeight);
            var chart;
            nv.addGraph(function() {
              chart = nv.models.multiBarHorizontalChart()
                  .x(function(d) { return d.label })
                  .y(function(d) { return d.value })
                  .height(chartHeight)
                  .margin({top: 30, right: 20, bottom: 50, left: 175})
                  .barColor(d3.scale.category20().range())
                  .showControls(false)
                  .showLegend(false);

              chart.yAxis.axisLabel('Number of checkins')
              chart.yAxis.tickFormat(d3.format(',.0f'));

              d3.select('#places svg')
                  .datum(data)
                .transition().duration(500)
                  .call(chart);

              nv.utils.windowResize(chart.update);

              chart.dispatch.on('stateChange', function(e) { nv.log('New State:', JSON.stringify(e)); });

              return chart;
            });
        });

        $("#consumption-per-month").addClass("loading");
        $.getJSON("/api/per-month", function(data) {
            $("#consumption-per-month").removeClass("loading");
            var chart;
            nv.addGraph(function() {
                chart = nv.models.multiBarChart()
                            .barColor(d3.scale.category20().range());
                chart.y(function(d) { return d.beers });
                chart.x(function(d) { return d.month });
                chart.xAxis.showMaxMin(false);
                chart.yAxis.tickFormat(d3.format(',.0f'));

                d3.select('#consumption-per-month svg')
                          .datum(data)
                    .transition().duration(500).call(chart);

                nv.utils.windowResize(chart.update);
                chart.dispatch.on('stateChange', function(e) { nv.log('New State:', JSON.stringify(e)); });

              return chart;
          });
        });

    });

  </script>
{% endblock %}
