{% extends "page.html" %}

{% block title %}View other{% endblock %}

{% block page_content %}

  <div class="row">
    <div class="span12">
      <h1>View other user</h1>
    </div>
  </div>

  <div class="row friend-list">
    <div class="span6">
      <a href="{{url_for('show_user', username=session.logged_in_user.username)}}">
        <div class="friend-list-item clearfix">
          <img width="60px" height="60px" src="{{session.logged_in_user.avatar}}"/>
          <p>
            Logged in as {{session.logged_in_user.name}}.<br/>
            Show my data!
          </p>
        </div>
      </a>
    </div>
    <div class="span6">
      <a href="{{url_for('show_user', username=session.shown_user.username)}}">
        <div class="friend-list-item clearfix">
          <img width="60px" height="60px" src="{{session.shown_user.avatar}}"/>
          <p>
            Currently showing data for {{session.shown_user.name}}.<br/>
            Continue viewing!
          </p>
        </div>
      </a>
    </div>
  </div>

  {% if friends %}
  <hr/>
  {% for row in friends|batch(3) %}
  <div class="row friend-list">
    {% for friend in row %}
      <div class="span4">
        <a href="{{url_for('show_user', username=friend.user.user_name)}}">
          <div class="friend-list-item clearfix">
            {% set full_name = " ".join([friend.user.first_name, friend.user.last_name]) %}
            <img width="60px" height="60px" src="{{friend.user.user_avatar}}"/>
            <p>
              <strong>{{full_name}}</strong><br/>
              <em>{{friend.user.user_name}}</em>
            </p>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
  {% endfor %}
  {% endif %}

{% endblock %}
