{% extends "layout.html" %}

{% block navbar %}
    <li id="user-info">
      <img src="{{session.user['avatar']}}"/>
      <a href="{{session.user['url']}}">{{session.user['name']}}</a>
    </li>
    <li>
      <a href="{{url_for('logout')}}">Log out</a>
    </li>
{% endblock %}

{% block content %}
  <div id="basic-stats-misc"></div>
  <div id="basic-stats-beers"></div>
{% endblock %}

{% block script %}
  <script>
    function make_table(data) {
        var rows = [];
        $.each(data, function(key, val) {
            rows.push('<dt>'+val+'</dt><dd>'+key+'</dd>');
        });
        var table = $('<dl/>', {
            'class': 'dl-horizontal',
            html: rows.join('')
        });
        return table;
    }

    $(document).ready(function() {

        $.getJSON("/stats/basic", function(data) {
            $("#basic-stats-misc").append(make_table(data.misc));
            $("#basic-stats-beers").append(make_table(data.beers));
        });

    });
  </script>
{% endblock %}

{% block footer %}
    <div class="footer">
        Build on data provided by <a href="http://untappd.com">Untappd</a>.
    </div>
{% endblock %}