{% extends "page.html" %}

{% block title %}Overview{% endblock %}

{% block page_content %}
  <p><em id="basic-stats-message"></em></p>

  <!--
  <h2>Where do you drink?</h2>
  <h2>Where is your beer from?</h2>
  <h2>What do you drink?</h2>
  <h2>Your rating habits</h2>
  <h2>When do you drink?</h2>
  -->

  <div class="row stats-overview">
    <div class="span4">
      <a href="/stats/consumption-per-month">
        <img class="graph-img" src="/static/img/bars-uneven.png"/>
        <span class="graph-type">bar chart</span><br/>
        <h3>Consumption per month</h3>
        <p>This plot shows how much you drink each month, and how many of those brews are new and exciting (and how many you've tasted before).</p>
      </a>
    </div>
    <div class="span4">
      <a href="/stats/punchcard">
        <img class="graph-img" src="/static/img/scatter-plot.png"/>
        <span class="graph-type">scatter plot</span><br/>
        <h3>The Punchcard</h3>
        <p>When do you do your drinking? This scatter plot shows what <em>time of day</em> and <em>day of week</em> you have checked in your brews.</p>
      </a>
    </div>
    <div class="span4">
      <a href="/stats/checkin-locations">
        <img class="graph-img" src="/static/img/bars-horizontal.png"/>
        <span class="graph-type">bar chart</span><br/>
        <h3>Checkin locations</h3>
        <p>Where do you drink the most? This chart shows the distribution of checkins in different locations.</p>
      </a>
    </div>
  </div>
  <div class="row stats-overview">
    <div class="span4">
      <a href="/map">
        <img class="graph-img" src="/static/img/globe.png"/>
        <span class="graph-type">map</span><br/>
        <h3>Beer map</h3>
        <p>A map showing the location of all your checkins and where your beers were brewed.</p>
      </a>
    </div>
    <div class="span4">
      <a href="/stats/rating-distribution">
        <img class="graph-img" src="/static/img/bars-distribution.png"/>
        <span class="graph-type">bar chart</span><br/>
        <h3>Rating distribution</h3>
        <p>How much do you use the different ratings? Check the distribution in this chart.</p>
      </a>
    </div>
    <div class="span4">
      <a href="/stats/rating-vs-abv">
        <img class="graph-img" src="/static/img/scatter-plot.png"/>
        <span class="graph-type">scatter plot</span><br/>
        <h3>Rating vs ABV</h3>
        <p>Is there a correlation between the alcohol content of the beer and how much you like it? Find out here.</p>
      </a>
    </div>
  </div>
  <div class="row stats-overview">
    <div class="span4">
      <a href="/photos">
        <img class="graph-img" src="/static/img/camera.png"/>
        <span class="graph-type">photos</span><br/>
        <h3>Checkin photos</h3>
        <p>Photo gallery of all the photos you have checked into Untappd, along with some basic information about each beer.</p>
      </a>
    </div>
    <div class="span4">
      <a href="/stats/beers-by-country">
        <img class="graph-img" src="/static/img/bars-horizontal.png"/>
        <span class="graph-type">bar chart</span><br/>
        <h3>Beers by country</h3>
        <p>Which nation brews the best beer? Find out which countries brews the bulk of your brews.</p>
      </a>
    </div>
    <div class="span4">
      <a href="/stats/country-chart">
        <img class="graph-img" src="/static/img/globe.png"/>
        <span class="graph-type">geo-chart</span><br/>
        <h3>Country chart</h3>
        <p>How international are your drinking habits? Find out where your brews originate in this chart.</p>
      </a>
    </div>
  </div>
  
{% endblock %}

{% block script %}
  <script>
    function basic_stats_message(data) {
        return "Hello there, " + data.name + ". " + 
            "In your "+ data.days +" days using Untappd, you have checked in " +
            "a total of " + data.total + " beers, " + data.distinct + " of which " + 
            "are distinct. That averages to "+data.total_avg+" beers per day " + 
            "(" + data.distinct_avg + " distinct). You have also posted " + data.photos +
            " photos, earned "+data.badges+" badges, and made "+data.friends+" friends."
    }

    $(document).ready(function() {
        $.getJSON("/api/basic", function(data) {
            $("#basic-stats-message").text(basic_stats_message(data));
        });
    });
  </script>
{% endblock %}
