{% extends "base.html" %}

{% block title %}Page{% endblock %}

{% block content %}
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="{{url_for('index')}}"><i class="icon-beer"></i> Beertistics</a>
        <div style="height: 0px;" class="nav-collapse collapse">
          <ul class="nav">
            <li class="dropdown {% if 'stats' == active_page %}active{% endif %}">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <i class="icon-caret-down"></i> Visualizations
              </a>
              <ul class="dropdown-menu">
                {% for v in visuals %}
                {% set icon = {'photos': 'camera', 'map': 'globe'}.get(v.type, 'bar-chart') %}
                <li>
                  <a href="/visual/{{v.visual_id}}">
                    <i class="icon-{{icon}}"></i> {{v.name}}
                  </a>
                </li>
                {% endfor %}
              </ul>
            </li>
          </ul>
          <ul class="nav pull-right">
            <li>
              <a href="{{url_for('friend_list')}}">
                <i class="icon-exchange"></i> {{session.shown_user['name']}}
             </a>
            </li>
            <li>
              <a href="{{url_for('logout')}}">
                <i class="icon-signout"></i> Log out
              </a>
            </li>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/.container-->
    </div><!--/.navbar-inner-->
  </div><!--/.navbar-->
  <div class="container page">

    <div class="row">
      <div class="span12">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{category}}">
                <a class="close" data-dismiss="alert" href="#">×</a>
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div>
    </div>

    {% block page_content %}{% endblock %}

    <div class="footer">
      Built on data provided by <a href="http://untappd.com">Untappd</a> ~
      <a href="/about">About Beertistics</a>
    </div>

  </div>
{% endblock %}
