{% extends "base.html" %}

{% block title %}Page{% endblock %}

{% block content %}
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="{{url_for('index')}}"><i class="icon-beer"></i> Beertistics</a>
        <div style="height: 0px;" class="nav-collapse collapse">
          <ul class="nav">
            <li class="dropdown {% if 'stats' == active_page %}active{% endif %}">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <i class="icon-bar-chart"></i> stats <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="/visual/punchcard">punchcard</a></li>
                <li><a href="/visual/by-country">beers by country</a></li>
                <li><a href="/visual/rating-distribution">rating distribution</a></li>
                <li><a href="/visual/rating-vs-abv">rating vs ABV</a></li>
                <li><a href="/visual/locations">checkin locations</a></li>
                <li><a href="/visual/consumption">consumption per month</a></li>
                <li><a href="/visual/influence">influenced ratings</a></li>
              </ul>
            </li>
            <li class="{% if 'photos' == active_page %}active{% endif %}">
              <a href="/photos"><i class="icon-camera"></i> photos</a>
            </li>
            <li class="dropdown {% if 'map' == active_page %}active{% endif %}">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <i class="icon-globe"></i> maps <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="/map">beer map</a></li>
                <li><a href="/visual/country-chart"></i> country chart</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav pull-right">
            <li>
              <form action="{{url_for('show_user')}}" method="GET" class="navbar-search pull-right">
                <input id="active-user-input" type="text" class="search-query" autocomplete="off" name="active-user" placeholder="{{session.shown_user['username']}}" >
              </form>
            </li>
            <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <i class="icon-cogs"></i></b>
              </a>
              <ul class="dropdown-menu">
                <li><p>Logged in as {{session.logged_in_user['username']}}</p></li>
                <li><a href="{{url_for('logout')}}">Log out</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/.container-->
    </div><!--/.navbar-inner-->
  </div><!--/.navbar-->
  <div class="container page">

    <div class="row">
      <div class="span12">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{category}}">
                <a class="close" data-dismiss="alert" href="#">×</a>
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div>
    </div>

    {% block page_content %}{% endblock %}

    <div class="footer">
      Built on data provided by <a href="http://untappd.com">Untappd</a> ~
      <a href="/about">About Beertistics</a>
    </div>

  </div>
{% endblock %}

{% block page_script %}
  <script>
    $(document).ready(function() {
      $.getJSON("/api/friends/")
      .done(function(data) {
        $("#active-user-input").typeahead({
            minLength: 3,
            source: data,
            sorter: function (items) {
              // in order to have exact typed match first among suggestions
              items.unshift(this.query); 
              return items;
            }
        });
      });    
    });
  </script>
{% endblock %}
