{% extends "page.html" %}

{% set active_page = "photos" %}
{% block title %}Photos{% endblock %}

{% block page_content %}
    <section id="beer-photos"></section>
{% endblock %}

{% block script %}
    <script src="/static/js/lightbox.js"></script>
    <script type="text/javascript" src="/static/js/underscore.js"></script>
    <script type="text/template" class="photo-list-template">
        <ul class="clearfix">
        <% _.each(rc, function( item ){ %>
            <li><a rel="lightbox[beers]" href="<%- item.photo_original %>" title="<%- item.beer %> by <%- item.brewery %>">
                <div class="photo-description">
                    <%- item.beer %><br/>
                    <%- item.brewery %><br/>
                    <% for (var i=item.rating; i>0; i--){ %>
                        <% if ( i > 0.9 ){ %>
                            <i class="icon-star"></i>
                        <% } else { %>
                            <i class="icon-star-half"></i>
                        <% } %>
                    <% } %>
                    <br/><br/>
                    <%- item.comment %>
                </div>
                <img class="photo" src="<%- item.photo %>" alt="<%- item.beer %> by <%- item.brewery %>"/>
            </a></li>
        <% }); %>
        </ul>
    </script>

  <script>
    $(document).ready(function() {
        _.templateSettings.variable = "rc";
        var template = _.template($("script.photo-list-template").html());

        $.getJSON("/api/photos", function(data) {
            $("#beer-photos").append(template(data));
        });
    });
  </script>
{% endblock %}
