{% extends "page.html" %}

{% block page_content %}
    <div class="row">
      <div class="span12">
        {% block visual_content %}{% endblock %}
      </div>
    </div>
    <a href="{{url_for('visual', visual_id=adjacent[0]['visual_id'])}}" title="{{adjacent[0]['name']}}">
    <i class="previous-visual gray icon-chevron-left icon-3x"></i></a>
    <a href="{{url_for('visual', visual_id=adjacent[1]['visual_id'])}}" title="{{adjacent[1]['name']}}">
    <i class="next-visual gray icon-chevron-right icon-3x"></i></a>
{% endblock %}

