# Key used for signing sessions
SECRET_KEY = "fill-in"

# Server name/ip and (optionally) port where app is deployed
SERVER_NAME = 'fill-in'

# Untappd API key
UNTAPPD_CLIENT_ID = "fill-in"
UNTAPPD_CLIENT_SECRET = "fill-in"