body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.note-form textarea {
    width: 100%;
    height: 300px;
}

pre.note {
    border-width: 0px;
    background: none;
    font-family: inherit;
}

.new-file-form input, .new-file-button {
    margin-bottom: 10px;
}

#fake-file-field {
    width: 100%;
}