svg {
    height: 500px; 
    margin: 10px; 
    min-width: 100px; 
    min-height: 100px;
}

body {
    padding-top: 60px;
    padding-bottom: 40px;
}

#user-info img {
    margin-top: 7px;
    height: 25px;
    display: inline;
}

#user-info a {
    float: right;
}

#beer-photos {
    margin: 0 auto;
}

#beer-photos ul {
    list-style-type: none;
    margin-left: 0;
}

#beer-photos ul li {
    display: inline-block;
    width: 220px;
}