/*------------------ base styles */

html { height: 100% }
body {
    height: 85%; 
    padding-top: 60px;
    padding-bottom: 40px;
}

#punchcard svg { height: 400px; }
#ratings svg { height: 500px; }
#rating-vs-abv svg { height: 400px; }
#consumption-per-month svg { height: 500px; }
#influenced-ratings svg { height: 500px; }

svg {
    min-width: 100px; 
    min-height: 100px;
}

.gray {
    color: gray;
}

.page { 
    height: 100%; 
}

/*------------------ styling of non-link elements in nav-bar dropdowns */

.dropdown-menu p {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: bold;
  line-height: 18px;
  color: #999;
  white-space: nowrap;
}

/*------------------ special scatter plot styling */

/* removing grid lines */
#influenced-ratings .nvd3.nv-scatterChart .nv-axis line, 
#rating-vs-abv .nvd3.nv-scatterChart .nv-axis line, 
#punchcard .nvd3.nv-scatterChart .nv-axis line {
  stroke: none;
  fill: none;
}

/* showing x-axis */
#influenced-ratings .nvd3 .nv-axis.nv-x path.domain, 
#rating-vs-abv .nvd3 .nv-axis.nv-x path.domain, 
#punchcard .nvd3 .nv-axis.nv-x path.domain {
  stroke-opacity: .75;
}

/*------------------ loading message */

.graph-container {
    position: relative;
}

.loading {
    text-align: center;
    position: absolute;
    top: 30%;
    bottom: 0;
    left: 30%;
    right: 30%;
}

.loading.error {
    font-weight: bold;
}

.loading img {
    margin-bottom: 20px;
}

/*------------------ login / 404 layouts */

.center-box {
    background-color: #666;
    padding: 15px;
    border-width: 3px;
    border-style: solid;
    border-color: #555;
    text-align: center;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

.center-box h1 { 
    color: #222;
    padding-bottom: 15px;
    font-size: 5em; 
}
.center-box h2 { 
    color: #999;
    padding: 5px;
    font-size: 1.8em; 
    padding-bottom: 10px;
}
.center-box p {
    color: #111;
    line-height: 1.2em;
    max-width: 500px;
    margin: 0 auto;
    font-size: 1.5em; 
}
.center-box a {
    color: #ccc;
    font-weight: bold;
}
.center-box p.gray {
    color: #999;
}
.center-box p + p {
    padding-top: 1.4em; 
}

/*------------------ header */

#user-info img {
    margin-top: 7px;
    height: 25px;
    display: inline;
}

#user-info a {
    float: right;
}

/*------------------ stats */

.stats-overview a {
    position: relative;
    display: block;
    min-height: 120px;
    padding: 5px 10px;
    margin: 5px 0;
    background-color: #ddd;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    color: black;
}

.stats-overview a:hover {
    text-decoration: none;
    background-color: #ccc;
} 

.stats-overview p {
    color: #333;
    font-weight: bold;
}

.stats-overview .graph-type {
    color: #888;
    font-weight: bold;
} 

.stats-overview .graph-img {
    opacity: .1; 
    width: 100px; 
    height:  100px;
    position: absolute; 
    bottom: 15px; 
    right: 15px;
}

/*------------------ photos */

#beer-photos {
    margin: 0 auto;
}

#beer-photos ul {
    list-style-type: none;
    margin-left: 0;
}

#beer-photos ul li {
    display: block;
    float: left;
    width: 220px;
    height: 220px;
    position: relative;
}

#beer-photos ul li .photo, #beer-photos ul li .photo-description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#beer-photos ul li .photo-description {
    padding: 10px;
    z-index: 1;
    background-color: black;
    font-style: bold;
    color: white;
}

#beer-photos ul li .photo {
    z-index: 2;
}

#beer-photos ul li .photo:hover {
    opacity: 0.2;
}

/*------------------ map */

#map_container { 
    width: 100%;
    height: 100%;
    min-height: 300px;
}

.info-marker .text, .info-marker img {
    float: left;
    padding: 3px;
}

#map_container img{
    /* fixed problem with google maps zoom controller not displaying correctly:
       http://stackoverflow.com/questions/9663375/google-map-infowindow-not-showing-properly */
    max-width: none; 
}

