# Key used for signing sessions
SECRET_KEY = "fill-in"

## Must be changed according to where app is deployed
SERVER_NAME = 'fill-in'

# Untappd API key
UNTAPPD_CLIENT_ID = "fill-in"
UNTAPPD_CLIENT_SECRET = "fill-in"