{% extends "visual.html" %}
{% set active_page = "stats" %}

{% block title %}Favourite checkin locations{% endblock %}

{% block visual_content %}
  <h1>Favourite checkin locations</h1>
  <div id="checkin-locations"><svg></svg></div>
{% endblock %}

{% block script %}
  <script>
    $(document).ready(function() {

        startLoading($("#checkin-locations"));
        $.getJSON("/api/checkin-locations")
        .done(function(data) {
            stopLoading($("#checkin-locations"));
            console.log("length is...... ", data[0].values.length)
            var chartHeight = data[0].values.length * 35;
            $("#checkin-locations svg").css("height", chartHeight);
            var chart;
            nv.addGraph(function() {
              chart = nv.models.multiBarHorizontalChart()
                  .x(function(d) { return d.label })
                  .y(function(d) { return d.value })
                  .height(chartHeight)
                  .margin({top: 30, right: 20, bottom: 50, left: 175})
                  .barColor(d3.scale.category20().range())
                  .showControls(false)
                  .showLegend(false);

              chart.yAxis.axisLabel('Number of checkins')
              chart.yAxis.tickFormat(d3.format(',.0f'));

              d3.select('#checkin-locations svg')
                  .datum(data)
                .transition().duration(500)
                  .call(chart);

              nv.utils.windowResize(chart.update);

              chart.dispatch.on('stateChange', function(e) { nv.log('New State:', JSON.stringify(e)); });

              return chart;
            });
        })
        .fail(function(error) {
            stopLoadingWithError($("#checkin-locations"), error.responseText);
        });

    });

  </script>
{% endblock %}
