{% extends "page.html" %}
{% set active_page = "map" %}

{% block title %}Country chart{% endblock %}

{% block page_content %}
  <h1>Country chart</h1>
  <div id="country-chart-container" style="min-height: 400px">
    <div id="country-chart"></div>
  </div>
{% endblock %}

{% block script %}
<script type='text/javascript' src='https://www.google.com/jsapi'></script>
<script type='text/javascript'>
    google.load('visualization', '1', {'packages': ['geochart']});
    google.setOnLoadCallback(drawMap);
      
    function drawMap() {
        beertistics.startLoading($("#country-chart-container"));
        $.getJSON("/api/beers-by-country-as-list")
                .done(function(data) {
                    beertistics.stopLoading($("#country-chart-container"));
                    var map_data = google.visualization.arrayToDataTable(data);
                    var options = {};
                    var chart = new google.visualization.GeoChart(document.getElementById('country-chart'));
                    chart.draw(map_data, options);
                }).fail(function(error) {
                    beertistics.stopLoadingWithError($("#country-chart-container"), error.responseText);
                });
    }
</script>
{% endblock %}
