DEBUG = True

# Location of applicatoin root directory
import os
BASE_DIR = os.path.normpath(os.path.dirname(__file__)+'/../../')

# Directory for caching user data
CACHE_DIR = BASE_DIR + "/cache"

# How long to cache data fetched from Untappd (in seconds)
CACHE_TTL = 1800

# Should reporting to Google Analytics be turned on?
ANALYTICS_ON = False

# Stub signin and data retrieval from Untappd
UNTAPPD_STUB = True

# Stub integration with ES
SEARCH_STUB = False

# Key used for signing sessions
SECRET_KEY = "dev_key"

## Must be changed according to where app is deployed
SERVER_NAME = '127.0.0.1:5000'

# Untappd API key
UNTAPPD_CLIENT_ID = "ID-GOES-HERE"
UNTAPPD_CLIENT_SECRET = "SECRET-GOES-HERE"